.chat_display
  .top_content
    = link_to 'Edit', '', class: "edit_chat_group"
    %p.group_name サンプル
    %ul.group_members
      %li.group_members__list
        %p Member : gunji
  .middle_content
    %ul.messages
      %li.message
        %p.message__name gunji
        %p.message__date 2017/7/2
        %p.message__text 楽しい？
  .bottom_content
    %form.message_form
      %input{ type: "text", placeholder: "type a message", name: "text" , class: "message_form__text" }
      %div.message_form__image_box
        %label.message_form__image_box__icon{ for: "file" }
          %i.fa.fa-picture-o
          %input{ type: "file", name: "image", id: "file" }
      %input{ type: "submit", value: "Send", class: "message_form__btn" }
