%li.message
  %p.message__name
    = message.user.name
  %p.message__date
    = message.created_at.strftime("%Y-%m-%d %H:%M:%S")
  %p.message__text
    = message.body
  .message__image
    = image_tag message.image_url(:thumb) if message.image_url.present?
