.sidebar {
  width: 300px;
  height: 100%;
  float: left;

  .sidebar_user {
    width: 260px;
    height: 100px;
    padding: 0 20px;
    background-color: #253141;
    &__name {
      float: left;
      color: $white;
      font-size: 16px;
      font-weight: bold;
      line-height: 100px;
    }
    &__icon {
      list-style: none;
      line-height: 100px;
      &__list {
      float: right;
      margin-left: 10px;
        i {
          color: $white;
        }
      }
    }
  }

  .sidebar_groups {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 0 20px;
    &__group {
      &__list {
        padding: 20px 0 40px 0;
        color: $white;
        &__name {
          font-size: 15px;
          padding-bottom: 10px;
        }
        &__message {
        font-size: 11px;
        }
      }
    }
  }
}
